@model livingstone.Models.ImageValidation
@{
    ViewBag.Title = "upload";
}

<link href="~/Content/jquery.Jcrop.min.css" rel="stylesheet" />

<h1>Profile Photo Upload</h1>

<form action="@Url.Action("upload","Home")" method="post" enctype="multipart/form-data">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.TextBoxFor(model => model.Photo, new { @type = "file" })
    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })

    <button type="submit">გაგზავნა</button>
    @ViewBag.Error
    @TempData["Message"]

</form>
  @if(ViewBag.file != null)
    {
      <img id="crop" src="~/Content/Image/@ViewBag.file" />

    <form action="@Url.Action("Crop","Home")" method="post" enctype="multipart/form-data">
    <input type="hidden" name="X" id="X" />
    <input type="hidden" name="Y" id="Y" />
    <input type="hidden" name="W" id="W" />
    <input type="hidden" name="H" id="H" />
    <button type="submit">Crop</button>
    </form>

  }
<hr />

<h1>Cover Photo Upload</h1>

<form action="@Url.Action("UploadCover","Home")" method="post" enctype="multipart/form-data">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.TextBoxFor(model => model.Photo, new { @type = "file" })
    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })

    <button type="submit">გაგზავნა</button>
    @ViewBag.Error
    @TempData["Error"]

</form>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.Jcrop.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#crop').Jcrop({
            onSelect: updateCoords,
            minSize: [300, 300],
            maxSize: [300, 300]


        });

        function updateCoords(c) {
            
            $('#X').val(c.x);
            $('#Y').val(c.y);
            $('#W').val(c.w);
            $('#H').val(c.h);

        }
    });


</script>